<footer>
  <h3>合作伙伴</h3>
  <div class="row footer">
    <div class="col-md-3">
      中国建设银行<br/>
      中国农业银行
    </div>

    <div class="col-md-2">
      中国银行<br/>
      浦发银行
    </div>
    <div class="col-md-2">
      招商银行<br/>
      兴业银行
    </div>
    <div class="col-md-2">
      广发银行<br/>
      民生银行
    </div>
    <div class="col-md-3">
      中国工商银行<br/>
      中国光大银行
    </div>
  </div>

  <div class="copyright">
    <p>copyright&#169;Money2Money</p>
  </div>

</footer>
